-var pageTitle = 'collections' ;
doctype html
html(lang="en")
    head
        include pug/layout/head
        include pug/layout/styles
    body 
        include pug/layout/mobileMenu
        include pug/layout/purchases
        include pug/layout/header
        .page.collections
            .content
                .container 
                    .row 
                        .col-12 
                            h3 Product collections
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 01
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-1.jpg", alt="")
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 02
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-2.jpg", alt="")
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 03
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-3.jpg", alt="")
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 04
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-4.jpg", alt="")
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 05
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-5.jpg", alt="")
                        .col-md-4 
                            a(href="#"): .collection
                                .info 
                                    h5 collection 06
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .img 
                                    img(src="./images/4-6.jpg", alt="")


            include pug/layout/footer
        include pug/layout/scripts