-var pageTitle = 'home' ;
doctype html
html(lang="en")
    head
        include pug/layout/head
        include pug/layout/styles
    body 
        include pug/layout/mobileMenu
        include pug/layout/purchases
        include pug/layout/header
        .page.home
            .content
                include pug/components/carousel
                include pug/components/towProducts
                include pug/components/carousel4
                .strip
                    h5 INSTAGRAM
                    p let’s have a look what is behind the scenes
                .final
                    img(src="./images/l-logo.svg", alt="")
            include pug/layout/footer
        include pug/layout/scripts