-var pageTitle = 'products' ;
doctype html
html(lang="en")
    head
        include pug/layout/head
        include pug/layout/styles
    body 
        include pug/layout/mobileMenu
        include pug/layout/purchases
        include pug/layout/header
        .page.products
            .content
                .container
                    .row 
                        .col-12 
                            h3 collection-01
                            .num-collection 24 products in collection
                        .col-12 
                            .list-view 
                                i.ti-layout-grid3
                                i.ti-view-list-alt
                        .col-12 
                            .sorting
                                select.form-select(aria-label='Default select example')
                                    option(selected='') Open this select menu
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                                select.form-select(aria-label='Default select example')
                                    option(selected='') Open this select menu
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                                select.form-select(aria-label='Default select example')
                                    option(selected='') Open this select menu
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                    .items
                        .item 
                            .img 
                                img(src="./images/4-1.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-2.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-3.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-4.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-5.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-6.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-7.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
                        .item 
                            .img 
                                img(src="./images/4-8.jpg", alt="")
                            .info 
                                h5 product 01
                                .date
                                    span 20 septamber 2020
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis dolor error, quibusdam voluptates perferendis sunt possimus neque delectus minima voluptate iusto explicabo soluta ex optio quae veniam officiis id!
                                .buttons 
                                    span.bttn add to bag 
                                    span.fba.like.heart 
                                        i.ti-heart
            
            include pug/layout/footer
        include pug/layout/scripts