-var pageTitle = 'terms' ;
doctype html
html(lang="en")
    head
        include pug/layout/head
        include pug/layout/styles
    body 
        include pug/layout/mobileMenu
        include pug/layout/purchases
        include pug/layout/header
        .page.terms
            .content
                .container
                    h3 terms of use 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptates ea recusandae porro ipsam repellat beatae expedita eveniet! At obcaecati blanditiis architecto iste. Iure eius veniam ratione officiis sit quos.Quas vitae natus laudantium atque eius incidunt soluta, maxime autem quam. Quia inventore assumenda tenetur aut mollitia in necessitatibus, delectus praesentium expedita temporibus fugit quaerat ipsum! Autem consectetur similique aperiam!Adipisci quia similique ipsum voluptatem quisquam maxime voluptatibus vero hic ad officia quaerat, doloribus odit, est earum atque harum quas cum mollitia asperiores minus? Saepe nesciunt quisquam non quae obcaecati?Fugit asperiores nisi, dolorem porro veniam quam ut sit, debitis blanditiis error iusto officia exercitationem. Inventore eveniet repellendus, odit placeat commodi corrupti quis ipsum corporis voluptates ut assumenda sequi delectus.Deserunt qui amet fugit, delectus nam iusto dicta dolorum, suscipit ab vitae facere, harum cumque quidem natus. Eaque, ab, modi harum impedit soluta adipisci aperiam, porro nihil reiciendis accusamus ipsum?Rem, excepturi voluptas itaque tempora magnam recusandae, neque doloremque obcaecati sed hic dolor blanditiis vitae soluta. Nihil commodi recusandae tempora, obcaecati ab maiores nostrum sequi voluptatibus, placeat, expedita consectetur laudantium?Laborum vel enim perferendis, tempore expedita, voluptate culpa modi perspiciatis inventore repudiandae, voluptas cumque consequuntur recusandae atque molestiae molestias laudantium neque. Molestiae voluptatum vero suscipit ullam facere deleniti, error enim.Nemo autem, assumenda at tempora quaerat impedit pariatur cupiditate molestias commodi temporibus sit, consectetur, deserunt vitae minus voluptatibus. Quibusdam deleniti exercitationem soluta quidem harum illum, officiis provident nesciunt dolores ab!Accusamus nihil a, totam omnis corporis est possimus natus sunt aliquam vel, adipisci iusto numquam labore non pariatur nulla temporibus voluptas, ipsum alias nam ut! Voluptates aut vitae voluptatem quo.Reiciendis deserunt quam vel doloremque aspernatur. Nostrum optio autem incidunt aut iure? Corporis dolores optio facere laboriosam illum odio aperiam animi vel voluptates quibusdam dolore ipsa iusto, quas, neque sit!
            include pug/layout/footer
        include pug/layout/scripts