form(action="" id="form-setting" class="Address") 
    .input
        input(type="text" placeholder="First name")
    .input
        input(type="text" placeholder="Last name")
    .input
        input(type="text" placeholder="company")
    .input
        input(type="text" placeholder="Address")