div(id="carouselExampleIndicators4" class="carousel slide" data-bs-ride="carousel")
    div(class="carousel-indicators")
        button(type="button" data-bs-target="#carouselExampleIndicators4"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
        button(type="button" data-bs-target="#carouselExampleIndicators4"  data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#carouselExampleIndicators4"  data-bs-slide-to="2" aria-label="Slide 3")

    div(class="carousel-inner")
        div(class="carousel-item active")
            .content4
                .item
                    img(src="./images/4-1.jpg", alt="")
                .item
                    img(src="./images/4-2.jpg", alt="")
                .item
                    img(src="./images/4-3.jpg", alt="")
                .item
                    img(src="./images/4-7.jpg", alt="")
        div(class="carousel-item " )
            .content4
                .item
                    img(src="./images/4-4.jpg", alt="")
                .item
                    img(src="./images/4-5.jpg", alt="")
                .item
                    img(src="./images/4-6.jpg", alt="")
                .item
                    img(src="./images/4-8.jpg", alt="")
        div(class="carousel-item ")
            .content4
                .item
                    img(src="./images/4-9.jpg", alt="")
                .item
                    img(src="./images/4-10.jpg", alt="")
                .item
                    img(src="./images/4-11.jpg", alt="")
                .item
                    img(src="./images/4-12.jpg", alt="")
        //- ------------------
        button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev")
            span(class="carousel-control-prev-icon" aria-hidden="true")
            span(class="visually-hidden") Previous
        //- ---------------------
        button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true")
            span(class="visually-hidden") Next