div(id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel")
    div(class="carousel-indicators")
        button(type="button" data-bs-target="#carouselExampleIndicators" style='background-image:url("./images/slider-4.jpg")' data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
        button(type="button" data-bs-target="#carouselExampleIndicators"  style='background-image:url("./images/slider-3.jpg")' data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#carouselExampleIndicators" style='background-image:url("./images/slider-5.jpg")' data-bs-slide-to="2" aria-label="Slide 3")

    div(class="carousel-inner")
        div(class="carousel-item active" style='background-image:url("./images/slider-4.jpg")')
            .container
                .content
                    span 20$
                    h4 Some text here
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis suscipit nesciunt
        div(class="carousel-item " style='background-image:url("./images/slider-3.jpg")')
            .container
                .content
                    span 8$
                    h4 Some text here
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis suscipit nesciunt
        div(class="carousel-item " style='background-image:url("./images/slider-5.jpg")')
            .container
                .content
                    span 25$
                    h4 Some text here
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis suscipit nesciunt
        //- ------------------
        button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
            span(class="carousel-control-prev-icon" aria-hidden="true")
            span(class="visually-hidden") Previous
        //- ---------------------
        button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true")
            span(class="visually-hidden") Next