form(action="" id="form-setting" class="Account") 
    .input
        input(type="text" placeholder="First name")
    .input
        input(type="text" placeholder="Last name")
    .input
        input(type="email" placeholder="Email")
    .input
        input(type="password" placeholder="Password")