form(action="" id="form-setting" class="Wish") 
    .row 
        .col-md-6 
            .product
                .img 
                    img(src="./images/4-11.jpg", alt="")
                .details 
                    i.far.fa-trash-alt.trash
                    i.cart.fas.fa-shopping-cart
                    h5.product-name Product Name
                    p.description Lorem ipsum dolor.
                    .price 
                        .number 
                            span -
                            input(type="number" value="1")
                            span +
                    div
                        .price-for-one 
                            span price
                            span 20 $
                        .total-price 
                            span total price 
                            span 20 $
        .col-md-6 
            .product
                .img 
                    img(src="./images/4-11.jpg", alt="")
                .details 
                    i.far.fa-trash-alt.trash
                    i.cart.fas.fa-shopping-cart
                    h5.product-name Product Name
                    p.description Lorem ipsum dolor.
                    .price 
                        .number 
                            span -
                            input(type="number" value="1")
                            span +
                    div
                        .price-for-one 
                            span price
                            span 20 $
                        .total-price 
                            span total price 
                            span 20 $
        .col-md-6 
            .product
                .img 
                    img(src="./images/4-11.jpg", alt="")
                .details 
                    i.far.fa-trash-alt.trash
                    i.cart.fas.fa-shopping-cart
                    h5.product-name Product Name
                    p.description Lorem ipsum dolor.
                    .price 
                        .number 
                            span -
                            input(type="number" value="1")
                            span +
                    div
                        .price-for-one 
                            span price
                            span 20 $
                        .total-price 
                            span total price 
                            span 20 $
        .col-md-6 
            .product
                .img 
                    img(src="./images/4-11.jpg", alt="")
                .details 
                    i.far.fa-trash-alt.trash
                    i.cart.fas.fa-shopping-cart
                    h5.product-name Product Name
                    p.description Lorem ipsum dolor.
                    .price 
                        .number 
                            span -
                            input(type="number" value="1")
                            span +
                    div
                        .price-for-one 
                            span price
                            span 20 $
                        .total-price 
                            span total price 
                            span 20 $