$blue-0: #05557d;
$blue-1: #26a4d5;
$blue-2: #2bb0e2;
$blue-3: #8fdcf3;
$blue-4: #b4fcfe;

$gray-0: #707070;
$gray-1: #e4e4e4;

$light-0: #f3f5f6;
$light-1: #f8f9fa;

$dark-0: #414449;
$dark-1: #596174;

$green-0: #acd373;
$green-1: #7cc576;

$yellow-0: #f5cd7a;
$yellow-1: #f5cd7a;

$red-0: #e66767;
$red-1: #eb8686;

$orang-0: #f19065;
$orang-1: #f3a683;

$purple-0: #574b90;
$purple-1: #786fa6;
