@use '../variables/colors';
@use '../variables/media' as *;
.tow-products {
	border-top: 3px solid transparent;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 3px;
	overflow: hidden;
	@media #{$mobile} {
		grid-template-columns: auto;
	}
	.product {
		padding-top: 56.25%;
		position: relative;
		overflow: hidden;
		&::after {
			content: '';
			z-index: 1;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #22165391;
			filter: grayscale(.7);
			transition: ease .5S;
		}
		.contents {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			h5 {
				will-change: transform;
				text-align: center;
				color: colors.$light-1;
				transition: ease .5S;
			}
			p {
				will-change: transform;
				color: colors.$light-0;
				text-align: center;
				margin: 10px 10% 0;
				transition: ease .5S;
			}
		}
		&:hover {
			&::after {
				background-color: #181527b7;
				filter: grayscale(.3);
			}
			.contents {
				p {
					transform: scale(1.1);
				}
				h5 {
					transform: scale(1.1);
				}
			}
		}
	}
}
