.divider-footer
    img(src="./images/divider-04.png", alt="wave")
footer 
    .footer
        .container
            .row
                .col-md-4
                    .about-stor
                        h5 ABOUT STOR
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. A earum molestiae fugiat sed incidunt sint dolorum alias harum, vitae placeat, vel soluta odio natus perferendis impedit. Aut unde voluptate repudiandae!
                .col-md-4
                    .more-inf
                        h5 MORE INFO
                        ul
                            li: a(href="#") Terms and Conditions  
                            li: a(href="#") Privacy policy
                            li: a(href="#") Return Policy
                            li: a(href="#") customers service 
                .col-md-4
                    .payment
                        .row
                            .col-12
                                h5 PAYMENT METHODS
                                a(href="#"): img(src="./images/paypal.png", alt="paypal")
                                a(href="#"): img(src="./images/mastercard.png", alt="paypal")
                                a(href="#"): img(src="./images/visa.png", alt="paypal")
                        .social
                            .row 
                                .col-12
                                    h5 FOLLOW US
                                    a(href="#"): i.fab.fa-facebook
                                    a(href="#"): i.fab.fa-twitter
                                    a(href="#"): i.fab.fa-instagram
                                    a(href="#"): i.fab.fa-snapchat
                                    a(href="#"): i.fab.fa-youtube
                                    a(href="#"): i.fab.fa-pinterest