header 
    nav 
        .container
            .nave
                .menu: a(href="#")
                    i.fas.fa-bars
                .logo
                    img(src="./images/l-logo.svg", alt="")
                .nave-item
                    ul
                        li: a(href="#") Home
                        li: a(href="#") Products
                        li: a(href="#") Login
                .right
                    ul
                        li: a(href="#")
                            i.fas.fa-search
                            //- i.ti-search
                        li: a(href="#")
                            i.fas.fa-heart
                            //- i.ti-heart
                        li.purchases-btn: a(href="#")
                            i.fas.fa-shopping-bag
                            //- i.ti-bag
    .divider
        img(src="./images/divider-03.png", alt="")
