.purchases
    .purchase-product
        .head 
            span your bag 
            span.close close
        .products
            ul 
                li 
                    .product
                        .img 
                            img(src="./images/4-11.jpg", alt="")
                        .details 
                            i.far.fa-trash-alt.trash
                            h5.product-name Product Name
                            p.description Lorem ipsum dolor.
                            .price 
                                .number 
                                    span -
                                    input(type="number" value="1")
                                    span +
                            div
                                .price-for-one 
                                    span price
                                    span 20 $
                                .total-price 
                                    span total price 
                                    span 40 $
                    .product
                        .img 
                            img(src="./images/4-11.jpg", alt="")
                        .details 
                            i.far.fa-trash-alt.trash
                            h5.product-name Product Name
                            p.description Lorem ipsum dolor.
                            .price 
                                .number 
                                    span -
                                    input(type="number" value="1")
                                    span +
                            div
                                .price-for-one 
                                    span price
                                    span 20 $
                                .total-price 
                                    span total price 
                                    span 20 $
                li(style="margin-top: -20px;") 
                    .total 
                        span total 
                        span 60 $
                    .note 
                        span Note
                        textarea
                    .checkout
                        span.bttn check it out

