@use '../variables/colors' as *;
@use '../variables/media' as *;
.page.account {
	.content {
		margin-top: 120px;
		min-height: auto;
		.content-forms {
			background-color: #ffffff;
			padding: 15px;
			padding-bottom: 20px;
			border-radius: 2px;
			box-shadow: 0 0 5px #a5a4a440;
		}
		h3 {
			text-align: center;
			margin-bottom: 20px;
			font-weight: 300;
			font-size: 40px;
			color: #707070;
		}
		.side {
			ul {
				list-style: none;
				// margin-top: 20px;
				li {
					background-color: #fff;
					text-align: center;
					padding: 15px;
					margin: 0 5px 10px;
					cursor: pointer;
					box-shadow: 0 0 5px #a5a4a440;
					color: $blue-0;
					transition: ease-out .4s;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						left: 0;
						height: 0%;
						top: 0;
						width: 2px;
						background-color: $blue-1;
						transition: ease-in-out .4s;
					}
					&.active {
						&::after {
							height: 100%;
						}
					}
					&:hover {
						&::after {
							height: 100%;
						}
					}
				}
			}
		}
		form {
			margin-bottom: 20px;
			display: none;
			&.Account {
				display: block;
			}
			&.Address {
				display: none;
			}
			&.Payment {
				display: none;
			}
			&.Wish {
				display: none;
				.product {
					display: grid;
					grid-template-columns: 90px auto;
					gap: 4px;
					padding: 5px 0;
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid rgba(0, 0, 0, .055);
					margin-bottom: 10px;
					box-shadow: 0 0 5px #aaaaaa63;

					.img {
						padding: 0 5px;
						width: 90px;
						height: 100%;
						border-right: solid 1px rgba(0, 0, 0, 0.1);
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
					.details {
						position: relative;
						.trash {
							z-index: 2;
							display: block;
							width: 30px;
							height: 30px;
							border-radius: 15px;
							text-align: center;
							line-height: 30px;
							position: absolute;
							top: 5px;
							right: 10px;
							cursor: pointer;
							color: #6c757de0;
							transition: .3s;
							will-change: color;
							&:hover {
								color: brown;
								background-color: rgba(0, 0, 0, 0.089);
							}
						}
						.ti-shopping-cart {
							z-index: 2;
							display: block;
							width: 30px;
							height: 30px;
							border-radius: 15px;
							text-align: center;
							line-height: 30px;
							position: absolute;
							top: 5px;
							right: 40px;
							cursor: pointer;
							color: #6c757de0;
							transition: .3s;
							will-change: color;
							&:hover {
								color: rgb(42, 165, 52);
								background-color: rgba(0, 0, 0, 0.089);
							}
						}
						padding-right: 5px;
						h5.product-name {
							color: #414449d3;
							font-weight: 400;
							font-size: 16px;
							margin-bottom: 0;
						}
						p.description {
							color: #596174de;
							font-size: 11px;
							font-weight: 400;
							margin-bottom: 5px;
						}
						.price {
							.number {
								display: grid;
								grid-template-columns: 30px 78px 30px;
								margin: 1px;
								span {
									cursor: pointer;
									text-align: center;
									background: #eee;
									font-size: 19px;
									font-weight: 700;
									line-height: 23px;
									color: #596174de;
									transition: ease .3s;
									will-change: background-color;
									&:hover {
										background-color: #ccc;
									}
								}
								input {
									min-width: auto;
									padding: 0;
									border-radius: 0;
									border: 1px solid #eee;
									text-align: center;
									color: #6c7384;
									outline: none;
									font-weight: 500;
								}
							}
						}
						.price-for-one {
							display: grid;
							grid-template-columns: 50% 50%;
							span {
								background-color: #eee;
								padding: 3px;
								margin: 1px;
								font-size: 14px;
								text-align: center;
							}
						}
						.total-price {
							display: grid;
							grid-template-columns: 50% 50%;
							span {
								background-color: #eee;
								padding: 3px;
								margin: 1px;
								font-size: 14px;
								text-align: center;
							}
						}
					}
				}
			}
			.input {
				padding: 5px 0;
				text-align: center;
				input {
					min-width: 300px;
					@media #{$mobile} {
						min-width: 260px;
					}
				}
			}
		}
	}
}
